@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
}

.aba {
    background-color: black;
    height: 4.0625rem; /* 65 pixels em rem */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aba-logo {
    height: 3.125rem; /* 50 pixels em rem */
    width: 4.375rem; /* 70 pixels em rem */
    margin-left: 5rem; /* 80 pixels em rem */
}

.aba-texto-traco {
    color: azure;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem; /* 20 pixels em rem */
}

.aba-texto-escrito {
    color: azure;
    margin-right: 7.5rem; /* 120 pixels em rem */
    font-family: 'Poppins', sans-serif;
}

.corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.corpo-esquerdo {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3.75rem; /* 60 pixels em rem */
    margin-left: 6.875rem; /* 110 pixels em rem */
}

.corpo-esquerdo-titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem; /* 40 pixels em rem */
}

.corpo-esquerdo-texto {
    margin-top: 1.875rem; /* 30 pixels em rem */
    font-family: 'Roboto', sans-serif;
}

.corpo-esquerdo-aba {
    height: 8.125rem; /* 130 pixels em rem */
    width: 18.75rem; /* 300 pixels em rem */
    border-width: 0.125rem; /* 2 pixels em rem */
    border-style: solid;
    border-color:  rgb(245, 90, 1);
    border-radius: 0.5625rem; /* 9 pixels em rem */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3.125rem; /* 50 pixels em rem */
    margin-top: 3.125rem; /* 50 pixels em rem */
    gap: 0.3125rem; /* 5 pixels em rem */
}

.corpo-esquerdo-aba-cartao {
    margin: 0.625rem; /* 10 pixels em rem */
    height: 6.25rem; /* 100 pixels em rem */
}

.corpo-esquerdo-aba-texto {
    color: rgb(245, 90, 1);
    font-family: 'Roboto', sans-serif;
}

.corpo-esquerdo-bloco {
    display: flex;
    flex-direction: row;
    gap: 1.125rem; /* 18 pixels em rem */
    margin-top: 1.25rem; /* 20 pixels em rem */
    margin-left: 3.75rem; /* 60 pixels em rem */
}

.corpo-esquerdo-bloco-cubo {
    width: 0.75rem; /* 12 pixels em rem */
    height: 0.75rem; /* 12 pixels em rem */
    border-radius: 0.1875rem; /* 3 pixels em rem */
    border-width: 0.0625rem; /* 1 pixel em rem */
    border-style: solid;
    border-color:  rgb(209, 209, 209);
}

.corpo-esquerdo-bloco-cubo:hover {
    background-color: rgb(128, 128, 128);
    border-radius: 0.1875rem; /* 3 pixels em rem */
}

.corpo-centro {
    margin-top: 7.5rem; /* 120 pixels em rem */
}

.corpo-centro-imagem {
    height: 20rem; /* 320 pixels em rem */
}

.corpo-direito-formulario {
    margin-right: 6.25rem; /* 100 pixels em rem */
    margin-top: 3.125rem; /* 50 pixels em rem */
    border-width: 0.625rem; /* 10 pixels em rem */
    border-radius: 0.625rem; /* 10 pixels em rem */
    border-color: rgb(187, 187, 187);
    height: 15.625rem; /* 250 pixels em rem */
    width: 20rem; /* 320 pixels em rem */
    box-shadow: 0.0625rem 0.0625rem 0.625rem rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-direito-formulario-texto {
    margin-top: 3.125rem; /* 50 pixels em rem */
    font-family: 'Roboto', sans-serif;
    font-size: 1.0625rem; /* 17 pixels em rem */
    letter-spacing: 0.03125rem; /* 0.5 pixels em rem */
}

.corpo-direito-formulario-cpf {
    margin-top: 1.25rem; /* 20 pixels em rem */
    margin-right: 14.25rem; /* 228 pixels em rem */
    font-size: 0.9375rem; /* 15 pixels em rem */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(97, 97, 97);
}

.corpo-direito-formulario-campo {
    margin-top: 1.875rem; /* 30 pixels em rem */
    width: 16.875rem; /* 270 pixels em rem */
    display: block;
    outline: none;
    border: none;
    border-bottom: 0.0625rem solid rgb(172, 172, 172);
    font-size: 1.25rem; /* 20 pixels em rem */
}

.corpo-direito-formulario-botao {
    margin-top: 1.875rem; /* 30 pixels em rem */
    height: 2.5rem; /* 40 pixels em rem */
    width: 16.875rem; /* 270 pixels em rem */
    font-size: 0.9375rem; /* 15 pixels em rem */
    font-family: 'Roboto', sans-serif;
    color: rgb(148, 148, 148);
    border: none;
    border-radius: 0.25rem; /* 4 pixels em rem */
    background-color: rgb(211, 211, 211);
}

.corpo-direito-formulario-botao:hover {
    color: rgb(85, 85, 85);
    background-color: rgb(192, 192, 192);
}

